In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../parquet')

In [3]:
df

,division_number,president,title,date,location,kind,speech_text
0,1400001,박근혜,제18대 대통령 취임식,2013.02.24,국내,취임사,희망의 새 시대를 열겠습니다.\n \n존경하는 국민여러분! 700만 해외동포 여...
1,1400002,박근혜,제94주년 3.1절 기념식,2013.02.28,국내,기념사,제94주년 3.1절 기념식\n \n존경하는 국민 여러분! \n700만 해외 동포...
2,1400003,박근혜,대국민 담화,2013.03.04,국내,성명/담화문,"정부조직개편안 지연에 대한 대통령 담화문\n \n존경하는 국민 여러분, \n ..."
3,1400004,박근혜,국군 장교 합동 임관식,2013.03.08,국내,기념사,"2013년 국군장교 합동 임관식 축사\n \n자랑스러운 신임 국군장교 여러분, ..."
4,1400005,박근혜,제29기 경찰대학 졸업 및 임용식,2013.03.14,국내,기념사,"제29기 경찰대학 졸업식 치사\n \n자랑스러운 경찰대학 졸업생 여러분, 가족과..."
...,...,...,...,...,...,...,...
1695,1401696,문재인,제37주년 5·18민주화운동 기념식,2017.05.18,국내,기념사,존경하는 국민 여러분!오늘 5・18민주화운동 37주년을 맞아 5・18묘역에 서니 ...
1696,1401697,문재인,노무현 대통령 서거 8주기 추도식,2017.05.23,국내,기념사,8년의 세월이 흘렀는데도 이렇게 변함없이 노무현 대통령님과 함께해 주셔서뭐라고 감사...
1697,1401698,문재인,제22회 바다의 날 기념식,2017.05.31,국내,기념사,"존경하는 국민 여러분, 전북도민과 군산시민 여러분, 그리고 해양・수산 종사자 여러..."
1698,1401699,문재인,치매국가책임제 관련 현장 방문,2017.06.02,국내,기타,저는 가장 시급한 민생현안 가운데 하나가 치매 문제라고 생각합니다. 전국적으로 치...
1699,1401700,문재인,치매국가책임제 SNS 메시지,2017.06.02,국내,성명/담화문,"서울요양원에서 치매 환자와 가족들, 치매 환자를 돌본 경험이 있는 여러분을 만났습..."

In [11]:
df_err = df.loc[df['kind'] == "-"]

In [12]:
df_err

,division_number,president,title,date,location,kind,speech_text
493,1400494,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
494,1400495,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
495,1400496,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
496,1400497,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
497,1400498,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
...,...,...,...,...,...,...,...
596,1400597,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
597,1400598,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
598,1400599,AttributeError,'NoneType' object has no attribute 'find_all',-,-,-,https://www.pa.go.kr/research/contents/speech/...
984,1400985,ChunkedEncodingError,"(""Connection broken: ConnectionResetError(54, ...",-,-,-,https://www.pa.go.kr/research/contents/speech/...
1680,1401681,ChunkedEncodingError,"(""Connection broken: ConnectionResetError(54, ...",-,-,-,https://www.pa.go.kr/research/contents/speech/...

In [13]:
df_err.index.size

108