In [1]:
import pandas as pd

In [20]:
df = pd.read_parquet("../server_parquet/parquet")

In [3]:
df

,division_number,president,title,date,location,kind,speech_text
0,1305368,박정희,제5대 대통령 취임식 대통령 취임사,1963.12.17,국내,취임사,"\n\n\n단군성조가 천혜의 이 강토 위에 국기를 닦으신지 반만년, 연면히 이어온 ..."
1,1305369,박정희,국회 개회식 치사,1963.12.17,국내,기념사,"존경하는 국회의장, 의원제위 그리고 내외귀빈 여러분! 오늘 이 뜻깊은 제3공화국의..."
2,1305370,박정희,신년 메시지,1964.01.01,국내,신년사,친애하는 국내외의 동포 여러분! 혁명의 고된 시련을 겪고 민정이양으로 매듭을 지은...
3,1305371,박정희,신년 시무식에 즈음한 담화문,1964,국내,성명/담화문,친애하는 전국의 공무원 여러분! 민족 역사 위에 격동과 시련의 해로 길이 기록될 계...
4,1305372,박정희,고급공무원에게 보내는 서신,1964.01.04,국내,기념사,"청 감갑진년의 새아침을 맞이하여 귀하와 귀하의 가정에 만복이 깃들기를 빌며, 새해에..."
...,...,...,...,...,...,...,...
5895,1311263,이승만,한글을 전용하여 문명 발전에 힘쓰자,1957.12.29,국내,성명/담화문,12월 10일에 북경에서 「로이터」통신이 보도한 것을 보면 중국 공산정부에서는 라틴...
5896,1311264,이승만,국민은 삼강오륜을 지켜라,1957.12.30,국내,성명/담화문,우리 모든 남녀동포들이 유 무식을 막론하고 다 같이 알아서 우리 자손들에게까지도 알...
5897,1311265,이승만,전국동포들에게 보내는 신년사,1958.01.01,국내,신년사,이번 신년을 맞이하여 우리 전국 남녀노소 동포들에게 두어 마디로 축하를 하고자 하는...
5898,1311266,이승만,이북동포들에게 보내는 신년사,1958.01.01,국내,신년사,신년을 맞이하여 새해를 축하하며 기쁜 생각으로 서로 위로하고 치하하는 기회를 당하여...
5899,1311267,이승만,대한적십자사의 회비납부에 협조하라,1958.01.11,국내,성명/담화문,우리 적십자사가 작년 1년 동안에 해온 성적을 보면 그 전 해 보다 나아져서 많은 ...

In [6]:
df.groupby("president").count()

           division_number  title  date  location  kind  speech_text
president
김대중                    822    822   822       822   822          822
김영삼                    728    728   728       728   728          728
노무현                    780    780   780       780   780          780
노태우                    501    501   501       501   501          501
박정희                   1270   1270  1270      1270  1270         1270
윤보선                      3      3     3         3     3            3
이명박                    209    209   209       209   209          209
이승만                    927    927   927       927   927          927
전두환                    602    602   602       602   602          602
최규하                     58     58    58        58    58           58

In [8]:
df.groupby("president").count()

                 division_number  title   date  location   kind  speech_text
president
AttributeError             87806  87806  87806     87806  87806        87806
ConnectionError               12     12     12        12     12           12
김대중                          822    822    822       822    822          822
김영삼                          728    728    728       728    728          728
노무현                          780    780    780       780    780          780
노태우                          601    601    601       601    601          601
박근혜                          493    493    493       493    493          493
박정희                         1270   1270   1270      1270   1270         1270
윤보선                            3      3      3         3      3            3
이명박                         1027   1027   1027      1027   1027         1027
이승만                          998    998    998       998    998          998
전두환                          602    602    602       602    602          602
최규하                           58     58     58        58     58           58

In [9]:
df.groupby("president")["division_number"].nunique()

president
AttributeError     87806
ConnectionError       12
김대중                  822
김영삼                  728
노무현                  780
노태우                  601
박근혜                  493
박정희                 1270
윤보선                    3
이명박                 1027
이승만                  998
전두환                  602
최규하                   58
Name: division_number, dtype: int64

In [10]:
df.groupby("president")["division_number"].agg(["size", "nunique"])

                  size  nunique
president
AttributeError   87806    87806
ConnectionError     12       12
김대중                822      822
김영삼                728      728
노무현                780      780
노태우                601      601
박근혜                493      493
박정희               1270     1270
윤보선                  3        3
이명박               1027     1027
이승만                998      998
전두환                602      602
최규하                 58       58

In [16]:
df.groupby("president")["division_number"].agg(["size", "nunique"]).head(20)

                       size  nunique
president
AttributeError        87912    87838
ChunkedEncodingError      2        2
ConnectionError          12       12
김대중                     822      822
김영삼                     728      728
노무현                     780      780
노태우                     601      601
문재인                    1099     1099
박근혜                     986      493
박정희                    1270     1270
윤보선                       3        3
이명박                    1027     1027
이승만                     998      998
전두환                     602      602
최규하                      58       58

In [17]:
df_president = df[~df["president"].isin(["ConnectionError", "ChunkedEncodingError", "AttributeError"])]

In [18]:
df_president.groupby("president")["division_number"].agg(["size", "nunique"])

           size  nunique
president
김대중         822      822
김영삼         728      728
노무현         780      780
노태우         601      601
문재인        1099     1099
박근혜         986      493
박정희        1270     1270
윤보선           3        3
이명박        1027     1027
이승만         998      998
전두환         602      602
최규하          58       58

In [19]:
df_president.groupby("president")["division_number"].agg(["size", "nunique", "max", "min", "std"]).sort_values("min", ascending=True)

           size  nunique      max      min          std
president
박정희        1270     1270  1310436  1305368   405.083473
최규하          58       58  1306693  1306636    16.886879
전두환         602      602  1307295  1306694   173.926709
노태우         601      601  1314573  1307296  2604.175564
김영삼         728      728  1308524  1307797   210.299786
김대중         822      822  1309346  1308525   237.435254
노무현         780      780  1310126  1309347   225.310896
이명박        1027     1027  1330674  1310127  8071.852992
이승만         998      998  1311338  1310337   288.863301
윤보선           3        3  1310439  1310437     1.000000
박근혜         986      493  1400493  1400001   142.388772
문재인        1099     1099  1401700  1400600   317.822226

In [21]:
df_president = df[~df["president"].isin(["ConnectionError", "ChunkedEncodingError", "AttributeError"])]

In [22]:
df_president.groupby("president")["division_number"].agg(["size", "nunique", "max", "min", "std"]).sort_values("min", ascending=True)

           size  nunique      max      min          std
president
박정희        1302     1270  1310436  1305368   411.615685
최규하          58       58  1306693  1306636    16.886879
전두환         602      602  1307295  1306694   173.926709
노태우         601      601  1314573  1307296  2604.175564
김영삼         728      728  1308524  1307797   210.299786
김대중         822      822  1309346  1308525   237.435254
노무현         780      780  1310126  1309347   225.310896
이명박        1027     1027  1330674  1310127  8071.852992
이승만         998      998  1311338  1310337   288.863301
윤보선           3        3  1310439  1310437     1.000000
박근혜         986      493  1400493  1400001   142.388772
문재인        1390     1389  1401991  1400600   401.919242

In [23]:
df_president_drop_dup = df_president.drop_duplicates()

In [24]:
df_president_drop_dup.groupby("president")["division_number"].agg(["size", "nunique", "max", "min", "std"]).sort_values("min", ascending=True)

           size  nunique      max      min          std
president
박정희        1270     1270  1310436  1305368   405.083473
최규하          58       58  1306693  1306636    16.886879
전두환         602      602  1307295  1306694   173.926709
노태우         601      601  1314573  1307296  2604.175564
김영삼         728      728  1308524  1307797   210.299786
김대중         822      822  1309346  1308525   237.435254
노무현         780      780  1310126  1309347   225.310896
이명박        1027     1027  1330674  1310127  8071.852992
이승만         998      998  1311338  1310337   288.863301
윤보선           3        3  1310439  1310437     1.000000
박근혜         493      493  1400493  1400001   142.461106
문재인        1389     1389  1401991  1400600   401.917153

In [25]:
df_president_drop_dup.to_parquet("../src/president_speech/db/parquet/president_speech_ko.parquet")

In [26]:
df = pd.read_parquet("../src/president_speech/db/parquet/president_speech_ko.parquet")

In [27]:
df

,division_number,president,title,date,location,kind,speech_text
5368,1305368,박정희,제5대 대통령 취임식 대통령 취임사,1963.12.17,국내,취임사,"\n\n\n단군성조가 천혜의 이 강토 위에 국기를 닦으신지 반만년, 연면히 이어온 ..."
5369,1305369,박정희,국회 개회식 치사,1963.12.17,국내,기념사,"존경하는 국회의장, 의원제위 그리고 내외귀빈 여러분! 오늘 이 뜻깊은 제3공화국의..."
5370,1305370,박정희,신년 메시지,1964.01.01,국내,신년사,친애하는 국내외의 동포 여러분! 혁명의 고된 시련을 겪고 민정이양으로 매듭을 지은...
5371,1305371,박정희,신년 시무식에 즈음한 담화문,1964,국내,성명/담화문,친애하는 전국의 공무원 여러분! 민족 역사 위에 격동과 시련의 해로 길이 기록될 계...
5372,1305372,박정희,고급공무원에게 보내는 서신,1964.01.04,국내,기념사,"청 감갑진년의 새아침을 맞이하여 귀하와 귀하의 가정에 만복이 깃들기를 빌며, 새해에..."
...,...,...,...,...,...,...,...
102587,1401987,문재인,수석·보좌관회의,2021.04.05,국내,회의,우리가 코로나19 이전으로 얼마나 빨리 돌아갈 수 있는지 여부는 오로지 방역과 백신...
102588,1401988,문재인,제16회 국무회의,2021.04.13,국내,회의,"정부는 국민께 무한책임을 진다는 자세로 흔들림 없이 국정에 임해야 합니다.방역도, ..."
102589,1401989,문재인,수석·보좌관회의,2021.04.19,국내,회의,우리 정부 임기 마지막 날까지 흔들림 없이 국민과 역사가 부여한 책무를 다하자는 다...
102590,1401990,문재인,수석·보좌관회의,2021.04.26,국내,회의,코로나19와 같은 감염병의 세계적 대유행은 어느 한 나라가 자국의 문제를 해결한다고...
102591,1401991,문재인,제18회 국무회의,2021.04.27,국내,회의,오늘 한국은행이 발표한 1분기 GDP 속보치에 따르면 우리 경제는 올해 1분기에 이...